<!DOCTYPE html>
<html lang="en">
<body>
    <header class="header">
        <h1 class="title__header"><a href="{% url 'home' %}">Junior Ruíz</a></h1>
        <nav class="nav__header">
            <ul class="miBarra">
                <li><a href="{% url 'home' %}"><span class="icon-home"></span> Inicio</a></li>
                <li><a href="{% url 'proyectos' %}"><span class="icon-files-empty"></span> Proyectos</a></li>
                <li><a href="{% url 'contactos' %}"><span class="icon-address-book"></span> Contactos</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>