{% extends 'index.html' %}
{% load static %}
{% block title %} Mi Portafolio | Contactos {% endblock %}
{% block content %}
<div class="content_contactos">
    <h1 class="title-content__contactos">Contactos</h1>
    <div class="redes">
        <article class="red red-wh">
            <a href="https://api.whatsapp.com/send?phone=+58 4129032865"><figure class="red__img"></figure></a>
            <button type="button">
                <a href="https://api.whatsapp.com/send?phone=+58 4129032865" class="btn-gotToRed">Enviar Mensaje <span class="icon-whatsapp"></span></a>
            </button>
        </article>
        <article class="red red-ins">
            <a href="https://www.instagram.com/junior.r14/"><figure class="red__img"></figure></a>
            <button type="button">
                <a href="https://www.instagram.com/junior.r14/" class="btn-gotToRed">Ver Perfil <span class="icon-instagram"></span></a>
            </button>
        </article>
        <article class="red red-tw">
            <a href="https://twitter.com/JuniorRuiz73"><figure class="red__img"></figure></a>
            <button type="button">
                <a href="https://twitter.com/JuniorRuiz73" class="btn-gotToRed">Ver Perfil <span class="icon-twitter"></span></a>
            </button>
        </article>
        <article class="red red-fb">
            <a href="https://www.facebook.com/wilfred.ruiz.5496"><figure class="red__img"></figure></a>
            <button type="button">
                <a href="https://www.facebook.com/wilfred.ruiz.5496" class="btn-gotToRed">Ver Perfil <span class="icon-facebook"></span></a>
            </button>
        </article>
        <article class="red red-mail">
            <a href="mailto:junior31064049@gmail.com"><figure class="red__img"></figure></a>
            <button type="button">
                <a href="mailto:junior31064049@gmail.com" class="btn-gotToRed">Enviar un Email <span class="icon-mail2"></span></a>
            </button>
        </article>
    </div>
</div>
{% endblock %}