{% extends 'home.html' %}
{% load static %}
{% block title %} Mi Portafolio | Contactos {% endblock %}
{% block content %}
<div class="content_contactos">
    <h1 class="title-content__contactos">Contactos</h1>
    <div class="redes">
        <article class="red red-wh">
            <a href=""><figure class="red__img"></figure></a>
            <button type="button">
                <a href="https://" class="btn-gotToRed">Ir a Red Social <span class="icon-whatsapp"></span></a>
            </button>
        </article>
        <article class="red red-ins">
            <a href=""><figure class="red__img"></figure></a>
            <button type="button">
                <a href="https://" class="btn-gotToRed">Ir a Red Social <span class="icon-instagram"></span></a>
            </button>
        </article>
        <article class="red red-tw">
            <a href=""><figure class="red__img"></figure></a>
            <button type="button">
                <a href="https://" class="btn-gotToRed">Ir a Red Social <span class="icon-twitter"></span></a>
            </button>
        </article>
        <article class="red red-fb">
            <a href=""><figure class="red__img"></figure></a>
            <button type="button">
                <a href="https://" class="btn-gotToRed">Ir a Red Social <span class="icon-facebook"></span></a>
            </button>
        </article>
        <article class="red red-mail">
            <a href=""><figure class="red__img"></figure></a>
            <button type="button">
                <a href="https://" class="btn-gotToRed">Ir a Red Social <span class="icon-mail2"></span></a>
            </button>
        </article>
    </div>
</div>
{% endblock %}