{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mi Portafolio | Inicio {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles-home.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles-proyectos.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles-contactos.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles-galeria.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <link rel="stylesheet" href="{% static 'css/Iconos/style.css' %}">
</head>
<body>
    {% include 'barra_navegacion.html' %}
    {% block content %}
    <div class="content">
        <section class="presentacion">
            <img class="foto_perfil_home" src="{% static 'imagenes/perfil-sBg.png' %}" alt="Foto de Perfil de Junior Ruíz">
            <article class="content__presentacion">
                <h2 class="title__presentacion">Acerca de mi</h2>
                <p class="descripcion__presentacion">Hola, Mi nombre es <strong>Wilfred Junior Ruíz Navas</strong> tengo <strong>{{edad}}</strong> años soy Cristiano, actualmente vivo en Venezuela, en este año 2022 me gradúo de Bachiller en Ciencias.</p>
                <p class="descripcion__presentacion">Mis mayores gustos son:</p>
                <ul class="gustos__presentacion">
                    <li class="item item1"><span class="icon-embed2"></span> Programación</li>
                    <li class="item item2"><span class="icon-power"></span> Marvel</li>
                    <li class="item item3"><span class="icon-airplane"></span> Viajar</li>
                    <li class="item item4"><span class="icon-headphones"></span> Música</li>
                </ul>
                <p class="descripcion__presentacion">Tengo pensado estudiar Ingeniería Electrónica, para así completar mis conocimientos en <strong>Software</strong> con <strong>Hardware</strong>.</p>  
            </article>
        </section>
        <section class="conocimientos">
            <h2 class="title__conocimientos">Habilidades</h2>
            <section class="content__conocimientos">
                <div class="lang html">
                    <h3>HTML <span class="icon-html5"></span> </h3>
                    <div><p>90%</p></div>
                </div>
                <div class="lang css">
                    <h3>CSS <span class="icon-css3"></span></h3>
                    <div><p>80%</p></div>
                </div>
                <div class="lang py">
                    <h3>Python <span class="icon-python"></span></h3>
                    <div><p>75%</p></div>
                </div>
                <div class="lang dj">
                    <h3>Django <span class="icon-django"></span></h3>
                    <div><p>60%</p></div>
                </div>
                <div class="lang git">
                    <h3>Git <span class="icon-git"></span></h3>
                    <div><p>70%</p></div>
                </div>
                <div class="lang github">
                    <h3>GitHub <span class="icon-github"></span></h3>
                    <div><p>70%</p></div>
                </div>
                <div class="lang sql3">
                    <h3>Sqlite3 <span class="icon-data"></span></h3>
                    <div><p>50%</p></div>
                </div>
                <div class="lang mysql">
                    <h3>MySQL <span class="icon-mysql"></span></h3>
                    <div><p>50%</p></div>
                </div>
            </section>
            <p class="descripcion__conocimientos">Esta página está elaborada <b>desde cero</b> con <strong>HTML, CSS, Python, Django, Sqlite3, Git y Github</strong> <span class="icon-grin"></span>.</p>
        </section>
    </div>
    {% endblock %}
    {% include 'footer.html' %}
</body>
</html>