{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mi Portafolio | Inicio {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/Iconos/style.css' %}">
</head>
<body>
    {% include 'barra_navegacion.html' %}
    {% block content %}
    <div class="content">
        <section class="presentacion">
            <img class="foto_perfil_home" src="{% static 'imagenes/perfil-sBg.png' %}" alt="Foto de Perfil de Junior Ruíz">
            <article class="content__presentacion">
                <h2 class="title__presentacion">Acerca de mi</h2>
                <p class="descripcion__presentacion">Hola, Mi nombre es <strong>Wilfred Junior Ruiz Navas</strong> tengo <strong>{{edad}}</strong> años, actualmente vivo en Venezuela, en este año 2022 me gradúo de Bachiller en Ciencias.</p>
                <p class="descripcion__presentacion">Mis mayores gustos son:</p>
                <ul class="gustos__presentacion">
                    <li class="item item1"><span class="icon-embed2"></span> Programación</li>
                    <li class="item item2"><span class="icon-power"></span> Marvel</li>
                    <li class="item item3"><span class="icon-airplane"></span> Viajar</li>
                    <li class="item item4"><span class="icon-headphones"></span> Música</li>
                </ul> 
                <p class="descripcion__presentacion">Tengo pensado estudiar Ingeniería Electrónica, para así completar mis conocimientos en <strong>Software</strong> con <strong>Hardware</strong>.</p>  
            </article>
        </section>
        <section class="conocimientos">
            <h2>Conocimientos</h2>
        </section>
    </div>
    {% endblock %}
    {% include 'footer.html' %}
</body>
</html>