{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mi Portafolio | Inicio {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'barra_navegacion.html' %}
    <div class="content">
    {% block content %}
        <section class="presentacion">
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus laudantium pariatur molestias incidunt veritatis aliquam, quisquam nostrum iusto id corporis fugit obcaecati voluptates dolor alias esse fuga est harum delectus!</p>
        </section>
        <section class="conocimientos">
            <h2>Conocimientos</h2>
        </section>

    {% endblock %}
    </div>
    {% include 'footer.html' %}
</body>
</html>