{% extends 'home.html' %}
{% block title %} Mi Portafolio | Proyectos {% endblock %}
{% block content %}
<div class="content_proyectos">
    <h1 class="title__content">Proyectos</h1>
    <section class="container__projects">
        <article class="project project1">
            <img src="" alt="" class="img__project1">
            <div class="body__project1">
                <h2 class="title__project1">List Homeworks</h2>
                <p class="description__project1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            </div>
            <div class="buttons__project">
                <button type="button">
                    <a href="http://" class="btn-gotToRepo">Ir al Repositorio</a>
                </button>
            </div>
        </article>
        <article class="project project2">
            <img src="" alt="" class="img__project2">
            <div class="body__project2">
                <h2 class="title__project2">Escritor de Números</h2>
                <p class="description__project2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            </div>
            <div class="buttons__project">
                <button type="button">
                    <a href="http://" class="btn-gotToRepo">Ir al Repositorio</a>
                </button>
            </div>
        </article>
        <article class="project project3">
            <img src="" alt="" class="img__project3">
            <div class="body__project3">
                <h2 class="title__project3">Enviar Mesages a WhatsApp</h2>
                <p class="description__project3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            </div>
            <div class="buttons__project">
                <button type="button">
                    <a href="http://" class="btn-gotToRepo">Ir al Repositorio</a>
                </button>
            </div>
        </article>
        <article class="project project4">
            <img src="" alt="" class="img__project4">
            <div class="body__project4">
                <h2 class="title__project4">Software Punto de Venta</h2>
                <p class="description__project4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            </div>
            <div class="buttons__project">
                <button type="button">
                    <a href="http://" class="btn-gotToRepo">Ir al Repositorio</a>
                </button>
            </div>
        </article>
        <article class="project project5">
            <img src="" alt="" class="img__project5">
            <div class="body__project5">
                <h2 class="title__project5">Descargar Archivos de Internet</h2>
                <p class="description__project5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
            </div>
            <div class="buttons__project">
                <button type="button">
                    <a href="http://" class="btn-gotToRepo">Ir al Repositorio</a>
                </button>
            </div>
        </article>
    </section>
</div>
{% endblock %}