{% extends 'home.html' %}
{% block title %} Mi Portafolio | Proyectos {% endblock %}
{% block content %}
<div class="content_proyectos">
    <h1 class="title-content__proyectos">Mis Proyectos</h1>
    <section class="container__projects">
        <article class="project project1">
            <figure class="figure__project1"></figure>
            <div class="body__project1">
                <h2 class="title__project1">List Homeworks</h2>
                <hr>
                <p class="description__project1">Software para agregar Tareas de tu escuela, colegio y/o universidad.</p>
                <div class="buttons__project">
                    <button type="button">
                        <a href="https://github.com/junior-r/List_Homeworks.git" class="btn-gotToRepo">Ir al Repositorio</a>
                    </button>
                    <div class="logo_languajes">
                        <span class="icon-python"></span>
                        <span class="icon-data"></span>
                    </div>
                </div>
            </div>
        </article>
        <article class="project project2">
            <figure class="figure__project2"></figure>
            <div class="body__project2">
                <h2 class="title__project2">Escritor de Números</h2>
                <hr>
                <p class="description__project2">Ingresa por consolo cualquier número en el rango de 0 a 99, y el programa lo escribirá en letras.</p>
                <div class="buttons__project">
                    <button type="button">
                        <a href="https://github.com/junior-r/Escritor-de-numeros.git" class="btn-gotToRepo">Ir al Repositorio</a>
                    </button>
                    <div class="logo_languajes">
                        <span class="icon-python"></span>
                    </div>
                </div>
            </div>
        </article>
        <article class="project project3">
            <figure class="figure__project3"></figure>
            <div class="body__project3">
                <h2 class="title__project3">Enviar Mensages a WhatsApp</h2>
                <hr>
                <p class="description__project3">Con este software puedes enviar mensajes de WhatsApp por consola. El único requisito es tener WhatsApp Web activo.</p>
                <div class="buttons__project">
                    <button type="button">
                        <a href="https://github.com/junior-r/Enviar-mensajes-WhatsApp.git" class="btn-gotToRepo">Ir al Repositorio</a>
                    </button>
                    <div class="logo_languajes">
                        <span class="icon-python"></span>
                    </div>
                </div>
            </div>
        </article>
        <article class="project project4">
            <figure class="figure__project4"></figure>
            <div class="body__project4">
                <h2 class="title__project4">Software Punto de Venta</h2>
                <hr>
                <p class="description__project4 rows-text">Este software emula las acciones de un punto de venta en <strong>En Venezuela</strong>. Pidiendo <strong>Tipo de Cuenta</strong>, <strong>Cédula</strong>, <strong>Clave</strong> y <strong>Monto</strong><br>Después de validar los datos, imprime una <strong>Factura</strong>, con todos los datos validados y con el <strong>Monto Total</strong>.</p>
                <div class="buttons__project">
                    <button type="button">
                        <a href="https://github.com/junior-r/Punto-de-Venta.git" class="btn-gotToRepo">Ir al Repositorio</a>
                    </button>
                    <div class="logo_languajes">
                        <span class="icon-python"></span>
                        <span class="icon-data"></span>
                    </div>
                </div>
            </div>
        </article>
        <article class="project project5">
            <figure class="figure__project5"></figure>
            <div class="body__project5">
                <h2 class="title__project5">Descargar Archivos de Internet</h2>
                <hr>
                <p class="description__project5">Con este software puedes descargar archivos de la Internet.</p>
                <div class="buttons__project">
                    <button type="button">
                        <a href="https://github.com/junior-r/Descargador-de-Archivos-en-Internet.git" class="btn-gotToRepo">Ir al Repositorio</a>
                    </button>
                    <div class="logo_languajes">
                        <span class="icon-python"></span>
                    </div>
                </div>
            </div>
        </article>
        <article class="project project6">
            <figure class="figure__project6"></figure>
            <div class="body__project6">
                <h2 class="title__project6">Blog Personal</h2>
                <hr>
                <p class="description__project6">Este es mi Blog Personal.</p>
                <div class="buttons__project">
                    <button type="button">
                        <a href="https://github.com/junior-r/Blog.git" class="btn-gotToRepo">Ir al Repositorio</a>
                    </button>
                    <div class="logo_languajes">
                        <span class="icon-html5"></span>
                        <span class="icon-css3"></span>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>
{% endblock %}