{% extends 'index.html' %}
{% block title %} Mi Portafolio | Proyectos {% endblock %}
{% block content %}
<div class="content_proyectos">
    <h1 class="title-content__proyectos">Mis Proyectos</h1>
    <section class="container__projects">
        {% if projects %}
            {% for project in projects %}
                <article class="project project{{ project.id }}">
                    <figure class="figure__project{{ project.id }}" style="background-image: url({{ project.img.url }})"></figure>
                    <div class="body__project{{ project.id }}">
                        <h2 class="title__project1">{{ project.title }}</h2>
                        <hr>
                        <p class="description__project{{ project.id }}">{{ project.description }}</p>
                        <div class="buttons__project">
                            <button type="button">
                                <a href="{{ project.url }}" class="btn-gotToRepo">Ir al Sitio / Repositorio</a>
                            </button>
                            <div class="logo_languajes">
                                <span class="{{ project.logo1 }}"></span>
                                {% if project.logo2 %}
                                    <span class="{{ project.logo2 }}"></span>
                                {% endif %}
                                {% if project.logo3 %}
                                    <span class="{{ project.logo3 }}"></span>
                                {% endif %}
                                {% if project.logo4 %}
                                    <span class="{{ project.logo4 }}"></span>
                                {% endif %}
                                {% if project.logo5 %}
                                    <span class="{{ project.logo5 }}"></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    </section>
</div>
{% endblock %}