@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,300;1,500;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Smooch+Sans:wght@300;400;700;800&Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family-titulos: 'Smooch Sans', sans-serif;
    --font-family-titulos2: 'Open Sans', sans-serif;
    --font-family-parrafos: 'Roboto', sans-serif;
    --font-family-buttons: 'Source Sans Pro', sans-serif;

    --transition: all ease-in .3s;

    --height-header: 4rem;
    --height-barra-load: 1.5rem;

    --color-naranja: #ffa500;
    --color-lavanda: rgb(145, 145, 235);
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #2e2c2c;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 5px;
    background-color: #000;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--color-naranja);
    border-radius: 10px;
}

.header {
    background-color: #222;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    max-height: var(--height-header);
    box-shadow: 0 2px 2px 1px rgba(95, 95, 95, 0.2);
    position: sticky;
    top: 0;
    max-width: 1903px;
    margin-inline: auto;
}

.header .title__header {
    font-size: 2rem;
    margin: auto;
    font-family: var(--font-family-titulos2);
    color: #fff;
    transition: var(--transition);
    width: 100%;
    text-align: center;
}

.header .title__header:hover {
    font-size: 2.3rem;
}

.nav__label,
.nav__input {
    display: none;
}

.header .nav__header .miBarra {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.header .nav__header .miBarra li {
    font-family: var(--font-family-titulos);
    padding: 1rem;
    color: var(--color-lavanda);
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.header .nav__header .miBarra li:hover {
    font-weight: 700;
}

.content_proyectos,
.content_contactos {
    min-height: calc(100vh - var(--height-header));
    max-width: 1700px;
    background-color: #2e2c2c;
    margin-inline: auto;
    padding: 1rem;
    color: #fff;
    font-family: var(--font-family-parrafos);
}

.title-content__proyectos,
.title-content__contactos,
.title__galeria {
    font-family: var(--font-family-titulos2);
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

.footer {
    background-color: #222;
    display: flex;
    justify-content: center;
    box-shadow: 0 -2px 2px 1px rgba(95, 95, 95, 0.2);
    position: relative;
}

.footer .derechos {
    font-family: var(--font-family-parrafos);
    color: #75cbf3;
    padding: 1rem 0;
}

@media screen and (max-width: 1246px) {
    body {
        font-size: 8px;
    }

    .header .title__header {
        font-size: 1.5rem;
    }

    .header .title__header:hover {
        font-size: 2rem;
    }

    .header .nav__header .miBarra li {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .title-content__proyectos,
    .title-content__contactos,
    .title__galeria {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1000px) {
    .title-content__proyectos,
    .title-content__contactos,
    .title__galeria {
        font-size: 1.5rem;
    }

    .nav__label {
        display: flex;
        cursor: pointer;
        justify-content: center;
    }

    .miBarra {
        position: fixed;
        top: 2rem;
        bottom: 0;
        right: -100%;
        background-color: #222;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s ease-in-out;
    }

    .nav__input:checked + .miBarra {
        right: 0;
    }

    .header .title__header {
        font-size: 1.5rem;
        text-align: center;
    }
    .header .title__header:hover {
        font-size: 1.5rem;
    }
}