:root {
    --font-family-titulos: 'Smooch Sans', sans-serif;
    --font-family-titulos2: 'Open Sans', sans-serif;
    --font-family-parrafos: 'Roboto', sans-serif;
    --font-family-buttons: 'Source Sans Pro', sans-serif;

    --transition: all ease-in .3s;

    --height-header: 4rem;
    --height-barra-load: 1.5rem;

    --color-naranja: #ffa500;
    --color-lavanda: rgb(145, 145, 235);
}

.content_galeria {
    min-height: calc(100vh - var(--height-header));
    max-width: 1700px;
    background-color: #2e2c2c;
    margin-inline: auto;
    padding: 1rem;
    color: #fff;
    font-family: var(--font-family-parrafos);
}

.gallery {
    padding: 1rem 0 3rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: .8rem;
    grid-template-areas: 
    "img1  img1  img2  img2"
    "img1  img1  img3  img3"
    "img4  img5  img10 img9"
    "img4  img6  img10 img9"
    "img4  img7  img8  img9"
    "img11 img11 img12 img13"
    "img11 img11 img12 img13"
    "none  none  img12 img13";
}

.gallery__picture--g1 {
    grid-area: img1;
}

.gallery__picture--g2 {
    grid-area: img2;
}

.gallery__picture--g3 {
    grid-area: img3;
}

.gallery__picture--g4 {
    grid-area: img4;
}

.gallery__picture--g5 {
    grid-area: img5;
}

.gallery__picture--g6 {
    grid-area: img6;
}

.gallery__picture--g7 {
    grid-area: img7;
}

.gallery__picture--g8 {
    grid-area: img8;
}

.gallery__picture--g9 {
    grid-area: img9;
}

.gallery__picture--g10 {
    grid-area: img10;
}

.gallery__picture--g11 {
    grid-area: img11;
}

.gallery__picture--g12 {
    grid-area: img12;
}

.gallery__picture--g13 {
    grid-area: img13;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1246px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "img1  img1"
        "img1  img1"
        "img2  img2"
        "img2  img2"
        "img3  img3"
        "img3  img3"
        "img4  img5"
        "img4  img6"
        "img4  img7"
        "img4  img8"
        "img10 img9"
        "img10 img9"
        "img10 img9"
        "img11 img11"
        "img11 img11"
        "img11 img11"
        "img12 img13"
        "img12 img13"
        "img12 img13"
        "img12 img13";
    }
}