:root {
    --font-family-titulos: 'Smooch Sans', sans-serif;
    --font-family-titulos2: 'Open Sans', sans-serif;
    --font-family-parrafos: 'Roboto', sans-serif;
    --font-family-buttons: 'Source Sans Pro', sans-serif;

    --transition: all ease-in .3s;

    --height-header: 4rem;
    --height-barra-load: 1.5rem;

    --color-naranja: #ffa500;
    --color-lavanda: rgb(145, 145, 235);
}

